.active_button {
  width: 254px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;

  border-radius: 5px;
  background: rgb(79, 44, 217);
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  outline: none;
  border: none;
  cursor: pointer;
}

.active_button:hover {
  background: rgb(53, 30, 146);
}
