.header {
  height: 70px;
  border-bottom: 1px solid rgb(217, 217, 217);
}
.left_part {
  display: flex;
  align-items: center;
  gap: 21px;
}
.right_part {
  display: flex;
  align-items: center;
  gap: 136px;
}
.logo {
  display: flex;
}
.logo1 {
  margin-right: 2.5px;
}

.btn {
  width: 135px;
  height: 36px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: rgb(79, 44, 217);
  cursor: pointer;
}
.btn button {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 7px;
  border: none;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 31px;
}

.adress {
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.number a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.favorites {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  gap: 12px;
  color: rgb(0, 0, 0);
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
}
