@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.container {
  width: 1840px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}
